.option-list-editor {
  display: flex;
  flex-direction: column;
  gap: 8px;

  &__row {
    display: flex;
    gap: 8px;
    align-items: flex-start;
  }

  &__item {
    flex: 1;
    margin-bottom: 0;
  }
}
